Repository albert-marrero/Yu-Gi-Oh-Scraper, changes with the labels that .github/labeler.yml gives for each.
All labels: python package, db yugioghcard, scrapy, workflows, labeler workflow, issue templates

.github/labeler.yml:

python package:
- pyproject.toml

db yugioghcard:
- yugioh_scraper/spiders/db_yugioh_card.py

scrapy:
- any: ['yugioh_scraper/**/*', '!yugioh_scraper/spiders/*']

workflows:
- .github/workflows/*

labeler workflow:
- .github/labeler.yml

issue templates:
- .github/ISSUE_TEMPLATE/*

Fix broken contributors link
  CHANGELOG.md
  README.md
Labels: none

Broken contributors link (#17)
  CHANGELOG.md
  README.md
Labels: none

Add Yu-Gi-Oh! Scraper Wiki
  README.md
  pyproject.toml
Labels: python package

Add Yu-Gi-Oh! Scraper Wiki (#18)
  README.md
  pyproject.toml
Labels: python package

[0.x] 0.1.2 Release
  CHANGELOG.md
  pyproject.toml
Labels: python package

Broken contributors link (#17)
  CHANGELOG.md
  README.md
Labels: none

Add Yu-Gi-Oh! Scraper Wiki (#18)
  README.md
  pyproject.toml
Labels: python package

[0.x] 0.1.2 Release
  CHANGELOG.md
  pyproject.toml
Labels: python package

Fix unwanted whitespace in the card_details for the Yu-Gi-Oh! Card Database spider.
  CHANGELOG.md
  yugioh_scraper/__init__.py
Labels: scrapy

Close Fix Unwanted Whitespace in Yu-Gi-Oh! Card Database spider (#20)
  CHANGELOG.md
  yugioh_scraper/__init__.py
Labels: scrapy

Added Workflow for Dependabot to manage dependencies.
  .github/dependabot.yml
  CHANGELOG.md
Labels: none

Added Workflow for Dependabot to manage dependencies. (#21)
  .github/dependabot.yml
  CHANGELOG.md
Labels: none

[0.x] 0.2.0 Release
  CHANGELOG.md
  pyproject.toml
Labels: python package

Close Fix Unwanted Whitespace in Yu-Gi-Oh! Card Database spider (#20)
  CHANGELOG.md
  yugioh_scraper/__init__.py
Labels: scrapy

Added Workflow for Dependabot to manage dependencies. (#21)
  .github/dependabot.yml
  CHANGELOG.md
Labels: none

[0.x] 0.2.0 Release
  CHANGELOG.md
  pyproject.toml
Labels: python package
